[Desktop Entry]

# The type as listed above
Type=Application

# The name of the application
Name=SWAMP CAMP

# The executable of the application, possibly with arguments.
Exec=Exec=bash -c '"$(dirname "$1")"/SWAMPCAMP'

# The name of the icon that will be used to display this entry
Icon=icon.png

# Describes whether this application needs to be run in a terminal or not
Terminal=false

# Describes the categories in which this entry should be shown
Categories=Game;